代码管理/NY.UADP/NY.UADP/Service References/SRUserRole/UserRoleService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NY.Model" />
  <xs:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NY.Server.Utility" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="model" nillable="true" type="q1:UAD_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NY.Server.Utility" minOccurs="0" name="AddUserResult" nillable="true" type="q2:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="model" nillable="true" type="q3:UAD_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NY.Server.Utility" minOccurs="0" name="EditUserResult" nillable="true" type="q4:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q5:UAD_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="GetUserListResult" nillable="true" type="q6:ArrayOfUAD_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="model" nillable="true" type="q7:UAD_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NY.Server.Utility" minOccurs="0" name="AddRoleResult" nillable="true" type="q8:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="model" nillable="true" type="q9:UAD_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NY.Server.Utility" minOccurs="0" name="EditRoleResult" nillable="true" type="q10:CommonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="GetRoleByIdResult" nillable="true" type="q11:UAD_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NY.Model" minOccurs="0" name="GetRoleListResult" nillable="true" type="q12:ArrayOfUAD_Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>