代码管理/NY.UADP/NY.UADP/Service References/SRUserRole/UserRoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserRoleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUserRoleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NY.Model" />
      <xsd:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NY.Server.Utility" />
      <xsd:import schemaLocation="http://localhost:6001/UserRoleService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserRoleService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_EditRole_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRole" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_EditRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetRoleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetRoleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetRoleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleList" />
  </wsdl:message>
  <wsdl:message name="IUserRoleService_GetRoleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleListResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserRoleService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/AddUser" message="tns:IUserRoleService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/AddUserResponse" message="tns:IUserRoleService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/EditUser" message="tns:IUserRoleService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/EditUserResponse" message="tns:IUserRoleService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/GetUserById" message="tns:IUserRoleService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/GetUserByIdResponse" message="tns:IUserRoleService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/GetUserList" message="tns:IUserRoleService_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/GetUserListResponse" message="tns:IUserRoleService_GetUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/AddRole" message="tns:IUserRoleService_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/AddRoleResponse" message="tns:IUserRoleService_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/EditRole" message="tns:IUserRoleService_EditRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/EditRoleResponse" message="tns:IUserRoleService_EditRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/GetRoleById" message="tns:IUserRoleService_GetRoleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/GetRoleByIdResponse" message="tns:IUserRoleService_GetRoleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRoleService/GetRoleList" message="tns:IUserRoleService_GetRoleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRoleService/GetRoleListResponse" message="tns:IUserRoleService_GetRoleList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUserRoleService" type="tns:IUserRoleService">
    <wsp:PolicyReference URI="#WSHttpBinding_IUserRoleService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/GetUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/GetUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/AddRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRole">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/EditRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/GetRoleById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <soap12:operation soapAction="http://tempuri.org/IUserRoleService/GetRoleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserRoleService">
    <wsdl:port name="WSHttpBinding_IUserRoleService" binding="tns:WSHttpBinding_IUserRoleService">
      <soap12:address location="http://localhost:6001/UserRoleService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:6001/UserRoleService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>